# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Logs
*.log

# Virtual environments
venv/
env/
.venv/

# IDE / editor files
.vscode/
.idea/
.ruff_cache

# OS files
.DS_Store
Thumbs.db

# MLflow / experiment outputs
/src/02-analysis/mlruns/

# OFE
/src/02-analysis/*.feather
*.feather

# setuptools
/src/*.egg-info/